$color_bg: #181818;
$color_secondary: #151515;
$color_nav: #2C2C2C;
$color_white: #fff;
$color_gray: #bababa;
$color_dark-gray: #4a4a4a;
$color_icon-1: #FF0000;
$color_icon-2: #252A30;
$color-accent: #E67900;

//blur background
$color-blur-bg: #1515154d;
$blur: blur(8px);

$ff-kanit: 'Kanit', sans-serif;
$ff-poppins: 'Poppins', sans-serif;

$transition: all 250ms ease-in-out; 
